<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="dbServer" value=""/>
      <add key="dbUser" value=""/>
      <add key="dbPwd" value=""/>
      <add key="connectionStringFormatString" value="data source={0};initial catalog={1};User ID={2};Password={3}"/>
      <add key="tableName" value=""/>
      <add key="queryStringFormatString" value="SELECT * FROM {0}"/>
      <add key="subpath" value="Desktop"/>
      <add key="fileName" value=""/>
      <add key="filePathFormatString" value="C:\Users\{0}\{1}\{2}.csv"/>
      <add key="appendOption" value="false"/>
    </appSettings>
</configuration>
